body{
    padding:0;
    margin: 0;
    overflow-x: hidden;
}  
.nav-button{
    background: none;
    border: 0px;
}

#HomeCarousel {
  width: 70%;           /* full width of parent column */
  aspect-ratio: 4 / 3;   /* fixed width:height ratio */
  overflow: hidden;      /* crop excess image */
}

#HomeCarousel .carousel-img {
  width: 70%;
  height: 70%;
  object-fit: cover;      /* fills container while cropping edges */
}

#HomePageRow{
    margin-bottom:5vh;
}

.Rounded-Image{
    border-radius:10px;
}

#Interests{
    padding:0;
    background-color: red;
    margin-left:5vw;
}

.MyIcons{
    padding:12px;
    border-radius:5px;
}

.PageHeader{
    margin-top:5vh;
    min-height: 35vh;
    padding-left:30vw;
    padding-right:30vw;
    padding-top:5vh;
    padding-bottom: 5vh;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ProjectExtraConfig{
    margin-left:10vw;
    margin-right:10vw;
    margin-top:5vh;
    border-radius: 10px;
    /* min-height:40vh; */

    padding:2%;
}

.ProjTitle{
    padding-bottom:0px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625 → 56.25%) */
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.ExtraBottomMargin{
    margin-bottom:2vh;
}